<div style="text-align:center">
  <h1>countries-map demo</h1>
</div>
<h2>Map with data</h2>
<div *ngIf="!errorLoading; else errorOnLoad">
  <countries-map
    class="demo-maps"
    [data]="mapData"
    [autoResize]="true"
    valueLabel="F1 World Cups"
    countryLabel="Nationality"
    minColor="lightyellow"
    (chartError)="mapError($event)"
    (chartReady)="mapReady()"
    [showCaption]="true"
    [captionBelow]="false">
  </countries-map>
</div>
<ng-template #errorOnLoad>
  <span>{{errorLoading?.message}}</span>
</ng-template>
