<div class="major-block map-content" [ngClass]="{'goes-first': captionBelow}"></div>

<div class="major-block caption-container" [ngClass]="{'goes-first': !captionBelow}"
  *ngIf="showCaption">
  <div class="simple-caption">
    <div class="country-label">
      <span class="default-label" *ngIf="!selection">Country</span>
      <span class="country-name" *ngIf="selection">{{selection?.countryName}}</span>
    </div>
    <div class="value-label">
      <span class="value-text" [ngClass]="{'has-value': selection}">{{valueLabel}}</span>
    </div>
  </div>
  <div class="extended-caption" *ngIf="selection?.extra && selection?.extra.length > 0">
    <div *ngFor="let item of selection?.extra" class="extended-item">
      <span class="extended-label">{{item.key}}</span>:
      <span class="extended-value">{{item.val}}</span>
    </div>
  </div>
</div>
