:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.major-block.loading {
  flex: 0 1 auto;
  align-self: center;
}
.loading .text {
  font-style: italic;
  font-family: sans-serif;
  color: gray;
}
.major-block.map-content {
  flex: 0 1 auto;
}
.major-block.goes-first {
  order: 0;
}
.major-block:not(.goes-first) {
  order: 1;
}
.major-block.caption-container {
  flex: 0 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.simple-caption {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.country-label {
  flex: 0 1 auto;
  align-self: flex-start;
}
.value-label {
  flex: 0 1 auto;
  align-self: flex-end;
}
.country-label,
.value-label {
  flex: 0 1 auto;
}
.country-label .country-name {
  font-weight: bold;
}
.country-label .country-name,
.value-label .value-text {
  color: #333;
}
.country-label .default-label,
.value-label .value-text:not(.has-value) {
  font-style: italic;
  color: #777;
}
.extended-caption {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 5px;
}
.extended-item {
  margin: 5px auto;
}
.extended-item .extended-label {
  font-weight: bold;
}
